body {
    font-family: Domine, Arial, Helvetica, serif;
    text-align: center;
    background-color: rgb(51, 94, 9);
}

#Jungle-pic {
    z-index: -20;
    position: fixed;
    top:0;
    left:0;
    opacity: .5;
    width: 100%;
    height: 100%; 
}

#Jungle-pic2 {
    position: absolute; 
    opacity: 0;
    z-index: -40; 
    transform: scale(0);
}

#title {
    color: khaki;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow:black 1px 1px 5px;
    font-size: 40px;
}


#description {
    color: khaki;
    margin-bottom: 50px;
    text-shadow: black 0px 0px 10px;
    font-weight: bolder;
}

.container {
    background:rgb(36, 99, 30);
    box-shadow: inset 0px 10px 150px white,
                0px 10px 50px 1px darkgreen;
    margin: 0 auto 0 auto;
    width:80vmin;
    border-radius:25px;
    text-align: center;
}

#survey-form{
    color:black;
    text-shadow:black 0px 0px 1px,
                white 0px 0px 20px;
}
            
.form-group {
    margin:40px auto;
    text-align: left;
    margin-left: 13%;
}

#name,#email,#number,#dropdown1,#dropdown2,#comment,#submit{
    border:none;
}

#name {
    width:48vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 60px;
    box-shadow: inset 0 0 10px gray;
}

#email{
    width:48vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 60px;
    box-shadow: inset 0 0 10px gray;
}

#number{
    width:48vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 60px;
    box-shadow: inset 0 0 10px gray;
}

#name-label{
    display: inline-block;
    transform: translateY(20px);   
    margin-top: 70px;    
}

#email-label {
    display: inline-block;
    transform: translateY(20px);    
}

#number-label {
    display: inline-block;
    transform: translateY(20px);   
}

#radio{
    display: -ms-grid;
    display: grid;
    grid-row-gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

#dropdown1{
    width:50vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: inset 0 0 10px gray;
}

#dropdown2{
    width:50vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: inset 0 0 10px gray;
}

#checkbox{
    display: -ms-grid;
    display: grid;
    grid-row-gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

#comment{
    width:50vmin;
    padding:5px;
    border-radius:5px;
    margin-left: 5%;
    margin-top: 20px;
    box-shadow: inset 0 0 10px gray;
}

button {
    padding:10px 20px;
    border-radius:5px;
    margin: auto auto 70px 32%;
    background: red;
    box-shadow: 0 5px 20px red;
    color: lightgray;
    text-shadow: 0 0 5px black;
}

button:hover{
    box-shadow: 0 5px 20px darkred;
}

button:active {
    box-shadow: inset 0px 0px 20px rgb(223, 66, 66),0 0 40px rgb(87, 0, 0);
    transform: scale(1.05);  
}

@media (min-width:1000px) {
    
    body{
        background-color: rgb(51, 94, 9, 0.9);
    }
    #Jungle-pic {
    position: absolute; 
    opacity: 0;
        
    }
    #Jungle-pic2 {
    transform: none;  
    z-index: -20;
    position: fixed;
    top:0;
    left:0;
    opacity: .6;
    width: 100%;
    height: 100%; 
   }

   /* updated */

   .container{
       max-width: 800px;
   }
}